.introSection{
    background-color: rgb(232, 228, 228);
    width: 100vw;
    min-height: 50vh;
    padding: 0 6vw;
    margin-top: 100vh;
    padding-left: 42vw;
    padding-top: 7vh;
    background-image: url('../../Assets/history1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
  }

  .header{
    font-size: 14vh;
    text-align: center;
    font-weight: 500;
    color: #e60c2de4;
    text-transform: capitalize;
    padding-top: 5vh;
    font-family: "Lobster", sans-serif;
  }

  .description{
    font-size: 2.8vh;
    text-align: center;
    font-weight: 700;
    color: #000000d8;
    padding-top: 3vh;
    padding-bottom: 15vh;
    line-height: 150%;
  }