.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 2vw 2vh 2vw;
    width: 100vw;
    z-index: 9;
    font-size: 2vh;
}

@media only screen and (max-width: 800px) {
    .footer{
        text-align: center;
        padding-top: 0;
    }
}