.introSection {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 12;
  padding: 0vh 7vw 4vh 7vw;
  background-color: #b7081a00; /* Use the preferred background color */
}

.header {
  font-size: 12.5vh;
  text-align: center;
  font-weight: 500;
  color: #ffffffe2; /* Adjusted color */
  text-transform: capitalize;
  padding-bottom: 7vh;
  font-family: "Lobster", sans-serif;
}

.description {
  font-size: 2.8vh;
  text-align: center;
  font-weight: 700;
  color: rgb(232, 228, 228); /* Adjusted color */
  padding-top: 4vh;
  padding-bottom: 15vh;
  line-height: 150%;
  text-align: left;
}

.videoSection {
  height: 94vh;
  width: calc(94vh * 16/9);
  border-radius: 2vh;
}

.commercial {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .videoSection {
    height: calc(98vw * 9/16);
    width: 98vw;
    border-radius: 2vh;
  }

  .sectionImage {
    height: auto;
    width: 100%;
  }

  .header {
    font-size: 8.5vh;
    padding-top: 2vh;
  }

  .description {
    padding-bottom: 7vh;
    text-align: center;
  }
}
