.introSectionContainer {
  background-color: #b7081a00;
  width: 100vw;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0vh 2.5vw 10vh 2.5vw;
  position: relative;
  z-index: 7;
}

.sectionImage {
  height: 70vh;
  width: auto;
  border-radius: 2vh;
}

.introSection {
  width: 100%;
  min-height: 50vh;
  padding-left: 42vw;
  background-color: #b7081a00;
  border-radius: 2vh;
}

.introSectionLeft {
  padding-left: 4vw;
  padding-right: 40vw;
  padding-top: 5vh;
}

.introSectionLeft .sectionImage {
  height: 80vh;
}

.header {
  font-size: 10.5vh;
  text-align: left;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  padding-top: 5vh;
  font-family: "Lobster", sans-serif;
}

.description {
  font-size: 2.8vh;
  font-weight: 700;
  color: rgb(232, 228, 228);
  padding-top: 4vh;
  padding-bottom: 15vh;
  line-height: 150%;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .introSectionContainer {
    padding: 0vh 1.5vw 1vh 1.5vw;
  }

  .sectionImage {
    height: auto;
    width: 100%;
  }

  .introSection {
    padding: 0;
    padding-left: 0;
  }

  .introSectionLeft {
    padding: 0;
  }

  .introSectionLeft .sectionImage {
    height: auto;
    width: 100%;
  }

  .header {
    font-size: 8.5vh;
    text-align: center;
    padding-top: 2vh;
  }

  .description {
    padding-bottom: 7vh;
    text-align: center;
    
  }
}
